body {
  position: relative;
}

ul.list-position {
   width:41%;
   position: fixed;
}

.tiles {
  width:100%;
}

.scrollbar-test {
  overflow-y: auto;
  max-height: 90vh;
}

.td, tr, a, h6, h5, h4, h3, h2, label {
    word-wrap:break-word;
}

.item-img {
  width: 40%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}
